<h1>{{ account.name }}</h1>
<h2>Balance: {{ account.balance }}</h2>
<p>is active: {{ account.isActive }}</b>

<form  action="/account", method="post">
  <input type="text" value="name" name="name" />

  <input type="text" value="balance" name="balance" />

<input type="text" value="active" name="active" />

<input type="submit"/>

<a href="/accounts"><input type="button" value="view accounts" /></a>
